<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Ecommerce Site{% endblock %}</title>
</head>
<body>
    <div id="content">
        {% if user.is_authenticated %}
            <p>Welcome, {{ user.username }}!</p>
            <a href="{% url 'logout' %}">Logout</a>
            {% if request.resolver_match.url_name != 'password_change' %}
                <a href="{% url 'password_change' %}">Reset Password</a>
            {% endif %}
        {% endif %}

        {% block content %}{% endblock %}
    </div>
</body>
</html>
