{% extends 'base.html' %}

{% block content %}
  <h2>Buy Product</h2>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{ product.name }}</h5>
      <p class="card-text">{{ product.description }}</p>
      <p class="card-text">Category: {{ product.category.name }}</p>
      <p class="card-text">Price: Rs.{{ product.price }}</p>

      <form method="post" action="{% url 'buy_product' product.id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Buy Now</button>
      </form>
    </div>
  </div>
{% endblock %}
