{% extends 'base.html' %}

{% block content %}
  <h2>Products</h2>
  
  <div class="row">
    {% for product in products %}
      <div class="col-md-4 mb-4">
        <div class="card border-primary">
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.description }}</p>
            <p class="card-text">Category: {{ product.category.name }}</p>
            <p class="card-text">Price: Rs.{{ product.price }}</p>
            <div class="d-grid gap-2">
              <a href="{% url 'buy_product' product.id %}" class="btn btn-success">Buy</a>
              <a href="{% url 'write_review' product.id %}" class="btn btn-primary">Write a Review</a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
